/******** PB & MT DEW *******************************/
/******** RESETS ************************************/
*, html, body, ul, li, h1, h2, h3, h4, h5, h6, form, p { margin: 0; padding: 0; }
ul, li { list-style: none; }
img { border: none; }

/******** STRUCTURE & SPECIFICS *****************/
body { font: normal normal 400 14px/normal 'Open Sans', Helvetica, sans-serif; color: #000; text-align: center; }

.fullLayout { width: 100%; }
.layout { width: 956px; margin: 0 auto; text-align: left;  }

#header { padding: 20px 10px 15px 0; }
	.logo a { display: block; text-indent: -9999px; background: url(img/logo.gif) no-repeat; width: 306px; height: 103px; }
	.login { padding: 0 0 10px 0; }
	.cartSnip { text-align: center; width: 200px; padding: 10px; background: #e9e9e9; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; }
	.cartSnip a { padding-left: 20px; background: url(img/icons.png) no-repeat; margin: 10px 0; color: #919194; }
	.cartSnip a.account { background-position: 0 -32px; }
	.cartSnip a.checkout { background-position: 0 -16px; }
	.cartSnip a.items { padding: 3px 0 0 0; color: #fff; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; display: inline-block; width: 172px; height: 23px; background: #d42a31; /* Old browsers */ background: -moz-linear-gradient(top, #d42a31 0%, #ad0a11 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d42a31), color-stop(100%,#ad0a11)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #d42a31 0%,#ad0a11 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #d42a31 0%,#ad0a11 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, #d42a31 0%,#ad0a11 100%); /* IE10+ */ background: linear-gradient(to bottom, #d42a31 0%,#ad0a11 100%); /* W3C */ mfilter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d42a31', endColorstr='#ad0a11',GradientType=0 ); /* IE6-9 */ }
	.cartSnip a.items b { vertical-align: middle;  padding-right: 20px; width: 16px; height: 16px; display: inline-block; background: url(img/icons.png) no-repeat; }
#nav { }
#banner { padding: 20px 0; background: #7abb61; /* Old browsers */ background: -moz-linear-gradient(top, #7abb61 0%, #3d9540 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abb61), color-stop(100%,#3d9540)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #7abb61 0%,#3d9540 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #7abb61 0%,#3d9540 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, #7abb61 0%,#3d9540 100%); /* IE10+ */ background: linear-gradient(to bottom, #7abb61 0%,#3d9540 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abb61', endColorstr='#3d9540',GradientType=0 ); /* IE6-9 */ min-height: 15px; height: auto !important; height: 15px; }
	#banner.inside { padding: 0; }
	#banner .layout { width: 956px; height: 509px; background: url(img/front-form.png) no-repeat; }
	#banner .form-col { float: left; }
	#banner .form-col.col1 { padding: 81px 0 0 26px; width: 222px; }
		#banner .form-col.col1 h3 { color: #6b6c71; }			
		#banner .form-col.col1 li { position: relative; font-size: 13px; color: #9be481; height: 100px; margin: 0 0 5px; }
		#banner .form-col.col1 b, #banner .form-col.col1 p { position: absolute; }
		#banner .form-col.col1 b { top: -7px; font-size: 5em; color: #5bb95b; }	
		#banner .form-col.col1 p { top: 10px; left: 50px; width: 150px; }
		#banner .form-col.col1 span { font-weight: bold; font-size: 14px; }
		#banner .form-col.col1 li:first-child { color: #777474; }
		#banner .form-col.col1 li:first-child span { color: #000; }
		#banner .form-col.col1 li:first-child b { color: #a7a8a8; }		
	#banner .form-col.col2 { padding: 23px 0 0; width: 398px; color: #fff; text-align: center; }
		#banner .form-col.col2 h1, #banner .form-col.col2 h3 { font-weight: normal; }
		#banner .form-col.col2 h1 { font-size: 3em; font-weight: bold; }
		#banner .form-col.col2 form { padding: 15px 0 0; }
		#banner .form-col.col2 input[type=text] { font-weight: bold; border: none; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; width: 280px; height: 20px; padding: 10px; margin: 10px 0; }
		#banner .form-col.col2 p.selectWrap { display: inline-block; background: #fff; width: 280px; padding: 10px; margin: 10px 0;  -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; }
		#banner .form-col.col2 select { font-weight: bold; border: none; width: 279px; }
		#banner .form-col.col2 input[type=text]:focus, #banner .form-col.col2 select:focus { outline: none; }
		#banner .form-col.col2 input[type=submit]{ -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; width: 300px; padding: 10px; border: 0; font-size: 1.3em; margin: 10px 0; }
	#banner .form-col.col3 { padding: 81px 0 0 11px; width: 299px; }
		#banner .form-col.col3 h3 { color: #9be481; }
		#banner .form-col.col3 li { position: relative; background: url(img/steps2-bg.png) no-repeat; height: 64px; margin: 0 0 5px; }
		#banner .form-col.col3 li:last-child { height: 45px; }
		#banner .form-col.col3 b, #banner .form-col.col3 p { position: absolute; }
		#banner .form-col.col3 b { color: #fff; font-size: 2em; left: 11px; }
		#banner .form-col.col3 p  { color: #9be481; width: 220px; top: 2px; left: 50px; }
	
#content { padding: 20px 0; background: #f0f0f0; min-height: 100px; height: auto !important; height: 100px;  }
	.section-title { text-transform: uppercase; }
	.more-link, .more-link:hover { margin: 0 0 15px; font-size: 13px; padding: 4px 10px; color: #fff; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; display: inline-block; background: #d42a31; /* Old browsers */ background: -moz-linear-gradient(top, #d42a31 0%, #ad0a11 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d42a31), color-stop(100%,#ad0a11)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #d42a31 0%,#ad0a11 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #d42a31 0%,#ad0a11 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, #d42a31 0%,#ad0a11 100%); /* IE10+ */ background: linear-gradient(to bottom, #d42a31 0%,#ad0a11 100%); /* W3C */ mfilter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d42a31', endColorstr='#ad0a11',GradientType=0 ); /* IE6-9 */ }
	.deal { float: left; text-align: center; width: 160px; padding: 10px 10px 0; margin: 0 10px 30px 0; background: #fff; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;  -moz-box-shadow: 3px 3px 2px #ccc; -webkit-box-shadow: 3px 3px 2px #cc; box-shadow: 3px 3px 2px #ccc; min-height: 310px; height: auto !important; height: 310px; position: relative; }
	.deal-pic { width: 152px; height: 180px; display: table-cell; vertical-align: middle; }
	.deal p { color: #1c5086; font-size: 13px; }
	.deal span.price { color: #ff5400; }
	.deal a.awesome { position: absolute; left: 45px; bottom: 20px; }
	#stores { padding: 10px; margin: 0 0 30px; background: #fff; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;  -moz-box-shadow: 3px 3px 3px #ccc; -webkit-box-shadow: 3px 3px 3px #cc; box-shadow: 3px 3px 3px #ccc; }
	#stores img { vertical-align: middle; }
	#testimonial .floatl { width: 475px; background: url(img/bgquote.png) no-repeat left top; }
	#testimonial .floatl p { padding: 30px 20px 20px; }
	
#footer  { padding: 20px 0; background: url(img/footer.gif) repeat-x;  }
	#footer ul { font-size: 12px; margin: 10px 65px 20px 30px; color: #fff; }
	#footer ul a { color: #fff; }
	#footer ul li { margin: 0 0 10px 0; }
	#footer ul li:first-child { font-weight: bold; text-transform: uppercase; }
	#footer ul:last-child li { padding-left: 22px; background: url(img/socialicons.png) no-repeat; }
		#footer ul:last-child li:first-child { padding-left: 0; background: none; }
		#footer ul:last-child li:nth-child(3) { background-position: 0 -16px; }
	#footer .divider { text-align: center; background: url(img/footerdivider.png) no-repeat; }
		#footer .divider img { padding: 18px 0 0 0;  }
		
/* style, variant, weight, size, line-height, family */

/******** REPEATS ********************************/
h1,h2,h3,h4,p,ul,ol,table { margin-bottom: 10px; }

a { color: #db051f; text-decoration: none; }
a:hover { color: #990000; text-decoration: underline; }

.clearfix { display: inline-block; }
.clearfix:after { display: block; height: 0; clear: both; content: ".";  visibility: hidden; }

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

img.floatl { margin: 0 10px 0 0; }
img.floatr { margin: 0 0 0 10px; }

.floatl { float: left; }
.floatr { float: right; }
.alignr { text-align: right; }
.alignl { text-align: left; }
.alignc { text-align: center; }
.alignj { text-align: justify; color: #999; font-size: 0.9em; }
.marg { margin: 0 0 10px 0; }
.reset, p.reset { margin: 0; }

h1,h2,h3,h4,h5,h6 { font-weight: bold; text-rendering: optimizeLegibility; } /* www.aestheticallyloyal.com/public/optimize-legibility/ */ 
html { -webkit-font-smoothing: antialiased; } /* maxvoltar.com/archive/-webkit-font-smoothing */

h1 { font-size: 2.2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.1em; }
h4 { font-size: 0.9em; }
h5 { font-size: 0.7em; }
h6 { font-size: 0.5em; }

/*************** Pagination styles */

.pagiwrap { text-align: center; margin: 20px 0; }
.pagiwrap p { color: #7a7a7a; margin: 20px 0; }
.pagination a { padding: 2px 5px 2px 5px; margin: 2px 4px; border: 1px solid #dadada; text-decoration: none; color: #7a7a7a; background: #efefef; }
.pagination a:hover, .pagination a:active { font-weight: bold; color: #6f8b0f; background-color: #dbdbdb; border: 1px solid #c9c9c9; }
.pagination span.current { padding: 2px 5px 2px 5px; margin: 2px; font-weight: bold; color: #6f8b0f; background-color: #dbdbdb; border: 1px solid #c9c9c9;}	
.pagination span.disabled { padding: 2px 5px 2px 5px; margin: 2px; color: #DDD; }
.pagination a.less, .pagination a.more  { color: #6f8b0f; background: none; border: none; }
html>body .pagination { padding: 0; }	

/*************** Menu */

.menu, .menu ul li {
}

.menu ul {
	width: 11em;
}

.menu a {
	text-decoration: none;
	color: #fff;
	padding: .4em 3.2em;
	margin: 0 1.4em 0 0;
	display: block;
	position: relative;
	background: #231f20; 
	-webkit-border-top-left-radius: 10px;-webkit-border-top-right-radius: 10px;-moz-border-radius-topleft: 10px;-moz-border-radius-topright: 10px;border-top-left-radius: 10px;border-top-right-radius: 10px;
}

.menu li.active a { background: #7abb62; color: #000; }

.menu a:hover, .menu li:hover>a {
	background: #7abb62;
}

.menu li li {	/* create borders around each item */
	border: 1px solid #ccc;
}
.menu ul>li + li {	/* and remove the top border on all but first item in the list */
	border-top: 0;
}

.menu li li:hover>ul {	/* inset 2nd+ submenus, to show off overlapping */
	top: 5px;
	left: 90%;
}

/* special colouring for "Main menu:", and for "xx submenu" items in ADxMenu
	placed here to clarify the terminology I use when referencing submenus in posts */
.menu>li:first-child>a, .menu li + li + li li:first-child>a { }

/* Fix for IE5/Mac \*//*/
.menu a {
	float: left;
}
/* End Fix */

/************* BUTTONS ****************/
.awesome, .awesome:visited {
	background: #222 url(alert-overlay.png) repeat-x; 
	display: inline-block; 
	padding: 5px 10px 6px; 
	color: #fff; 
	text-decoration: none;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
	text-decoration: none !Important;
}

	.awesome:hover							{ background-color: #111; color: #fff; }
	.awesome:active							{ top: 1px; }
	.small.awesome, .small.awesome:visited 			{ font-size: 11px; padding: ; }
	.awesome, .awesome:visited,
	.medium.awesome, .medium.awesome:visited 		{ font-size: 13px; font-weight: bold; line-height: 1; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }
	.large.awesome, .large.awesome:visited 			{ font-size: 14px; padding: 8px 14px 9px; }
	
	.green.awesome, .green.awesome:visited		{ background-color: #91bd09; }
	.green.awesome:hover						{ background-color: #749a02; }
	.blue.awesome, .blue.awesome:visited		{ background-color: #2daebf; }
	.blue.awesome:hover							{ background-color: #007d9a; }
	.red.awesome, .red.awesome:visited			{ background: #d42a31; /* Old browsers */ background: -moz-linear-gradient(top, #d42a31 0%, #ad0a11 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d42a31), color-stop(100%,#ad0a11)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #d42a31 0%,#ad0a11 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #d42a31 0%,#ad0a11 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, #d42a31 0%,#ad0a11 100%); /* IE10+ */ background: linear-gradient(to bottom, #d42a31 0%,#ad0a11 100%); /* W3C */ mfilter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d42a31', endColorstr='#ad0a11',GradientType=0 ); /* IE6-9 */ }
	.red.awesome:hover							{ background: #e33100;  }
	.magenta.awesome, .magenta.awesome:visited		{ background-color: #a9014b; }
	.magenta.awesome:hover							{ background-color: #630030; }
	.orange.awesome, .orange.awesome:visited		{ background-color: #ff5c00; }
	.orange.awesome:hover							{ background-color: #d45500; }
	.yellow.awesome, .yellow.awesome:visited		{ background-color: #ffb515; }
	.yellow.awesome:hover							{ background-color: #fc9200; }